* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
  padding: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  border: 4px solid black;
}

.grid-items {
  border: 0.1rem solid gray;
  font-size: 2rem;
  background-color: lightblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box2,
#box6,
#box9,
#box10,
#box11,
#box14 {
  border-right: 5px solid black;
}

#box5,
#box6,
#box7,
#box8,
#box9,
#box12,
#box13,
#box14,
#box15 {
  border-top: 5px solid black;
}

.prompt {
  position: absolute;
  top: 0%;
  left: 0%;
}

.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}

.special {
  border: none;
  font-size: 2rem;
  background-color: lightblue;
}

.special:hover {
  border: solid gray;
  background-color: white;
}
